<h1>Welcome to FixItNow</h1>
<h2>To get started log in as either a user or a fixer</h2>

<%= link_to "Sign up as someone with a problem", new_user_registration_path, :class => "offset1 btn btn-primary"  %>
<%= link_to "Log in as someone who fixes things", new_fixer_registration_path, :class => "offset1 btn btn-primary"  %>
